<!DOCTYPE html>
  <html>
    <head>
      <title>Mandarin Slackbot</title>
      <link rel="stylesheet" href="public/css/styling.css">
    </head>
    <body>
      <h1><a href="/"> This is the Chinese Slackbot</a></h1>
      {{{body}}}
    </body>
  </html>
